@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat:ital,wght@1,200&display=swap');

body {
    color: #fff;
    margin: 0;
    padding: 0;
}

#geral {
    background-image: url("../img/guarulhos_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.titulo-principal {
     color: #fff;
     text-align: center;
     font-family: 'Josefin Sans', sans-serif;;
     font-size: 40px;
     font-weight: 700;
     background-color: #1f336e;
     padding: 15px;
}

.resumo-guarulhos {
    padding: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

main {
    text-align: center;
}

.curiosidade {
    color: #fff;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px;
    font-weight: 400;
    padding: 10px;
    margin: 20px;
}

.bandeira {
    max-width: 200px;
    max-height: 100px;
    margin: 10px 0px;
}

.lista {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    list-style-type: none;
    padding: 0px;
}

footer {
    text-align: center;
    padding: 20px;
}

.favicon {
    margin: 20px;
    width: 70px;
    height: 70px;
}